@page "/EmployeeGrid"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor;
@using Directory.Entities.Models;


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid TValue="@Employee" Toolbar="@(new List<string>() {"Edit","Delete","Search" })" AllowPaging="true">
                <SfDataManager Url="https://directorywebapi.azurewebsites.net/api/Employee" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridTemplates>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(Employee.Id) HeaderText="ID" IsPrimaryKey="true" IsIdentity="true">
                    </GridColumn>
                    <GridColumn Field=@nameof(Employee.FirstName) HeaderText="Имя"></GridColumn>
                    <GridColumn Field=@nameof(Employee.LastName) HeaderText="Фамииля"></GridColumn>
                    <GridColumn Field=@nameof(Employee.Patronymic) HeaderText="Отчество"></GridColumn>
                    <GridColumn Field=@nameof(Employee.PositionWork) HeaderText="Должность"></GridColumn>
                    <GridColumn Field=@nameof(Employee.PhoneNumber) HeaderText="Номер телефона"></GridColumn>
                    <GridColumn Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>

                    <GridForeignColumn TValue=@Organization  IsPrimaryKey="true" IsIdentity="true" Field=@nameof(Employee.OrganizationId)
                                       HeaderText="Организация"
                                       ForeignKeyValue="Name"
                                       ForeignKeyField="Id"
                                       AllowSearching="false">
                        <SfDataManager Url="https://directorywebapi.azurewebsites.net/api/Organization"
                                       Adaptor="Adaptors.WebApiAdaptor"
                                       CrossDomain="true"></SfDataManager>
                    </GridForeignColumn>

                    <GridColumn Visible="false" Field=@nameof(Employee.SubdivisionId) HeaderText="SubdivisionId"></GridColumn>
                    <GridForeignColumn TValue=@Subdivision  IsPrimaryKey="true" IsIdentity="true" Field=@nameof(Employee.SubdivisionId)
                                       HeaderText="Подразделение"
                                       ForeignKeyValue="Name"
                                       ForeignKeyField="Id"
                                       AllowSearching="false">
                        <SfDataManager Url="https://directorywebapi.azurewebsites.net/api/Subdivision"
                                       Adaptor="Adaptors.WebApiAdaptor"
                                       CrossDomain="true"></SfDataManager>
                    </GridForeignColumn>


                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

