@page "/PositionWorkGrid"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor;
@using Directory.Entities.Models;
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid TValue="@PositionWork" Toolbar="@(new List<string>() { "Add", "Edit", "Delete","Search" })" AllowPaging="true">
                <SfDataManager Url="https://localhost:44348/api/PositionWork" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridTemplates>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Visible="false" Field=@nameof(PositionWork.Id) HeaderText="Id" IsPrimaryKey="true" IsIdentity="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Left" Width="20">
                    </GridColumn>
                    <GridColumn Field=@nameof(PositionWork.Name) HeaderText="Должность"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
